*{
	padding: 0;
	margin:  0;
	backgrond-color: #00ffff;
}
#container{
	margin: 0 auto;
	width: 960px;
}
#header{
	float: left;
	width: 100%;
	height: 300px;
	border: 1px solid #000000;
}
.nav{
	float: right;
	margin: 10px -5px 0 0;
	width: 400px;
}
.nav li{
	list-style:none;
	float: left;
}
.nav li a{
	float: left;
	color: #333333;
	padding: 6px 20px;
	text-decoration: none;
}
.nav li a:hover{
	float: left;
	background-color:#ddddff;
	color: #ffffff;
	padding: 6px 20px;
	border-right: 1px solid #000000;
	text-decoration: none;
	width: 120%
	height: 110%
}
#col1{
	float: left;
	width: 150px;
	background: #eeeeee;
	padding: 10px;
	margin: 10px 10px 5px 0;
}
#sidebar{
	float: right;
	width: 200px;
	height: 100%;
	background: #ffffff;

}
.sidebar_list{
	margin: 20px;
}
